PAGE_ACCESS_TOKEN=your_page_access_token_here
VERIFY_TOKEN="TamarbestToken27!"
PORT=3000
# The 3 DMs to send
DM_1="https://youtu.be/KSfuyg83kFA
מצורף הסרטון של השיעור המלא (באיכות בינונית, אני אשתפר!), מוזמנת להעביר הלאה למי שצריך 🙂"
DM_2="נפגש כרגיל היום ב17:30, לשיעור לייב עם הקישור הקבוע 
https://us06web.zoom.us/j/3941406339?pwd=cWxpSlYwek9Iem82eGZaM3JhNzFTZz09
DM_3="https://chat.whatsapp.com/EsILfotK2ZM9qwtacbepvi?mode=gi_t
כאן אני שולחת סרטונים מוקלטים חדשים משיעורים כל יום אם את לא מספיקה לעלות בלייב מוזמנת להצטרף☺️"
