PAGE_ACCESS_TOKEN="EAARuX0ZA6HaYBQzZCRRaTWoQz7j6ZAsUs7g51jlnG1TXLIZCaYfTNmDLsHo14EemGDyqkfjZBGejZBZCtzPWvUpzhwYf7OENmyMaT4xfRp7wnZBIDCZBK7oJxIq0ayzcZBz2ERgCXFnTnZC2t75Aa5eMpGs7zyzZAgN3aaKhTZA5F03tw7yy7AcoZBMigZCHtQPGkyywuUuETZA3FbxWNhlC5EiH9BqoSsJgh0LmxqHQOQpLQkKVYomxp8kLrHhv3X7IPhCO8pqZCcNXwgZCiBSjbIzITXI0e2xiRIxAZDZD"
VERIFY_TOKEN="TamarbestToken27!"
PORT=3000
# The 3 DMs to send
DM_1="https://youtu.be/KSfuyg83kFA
מצורף הסרטון של השיעור המלא (באיכות בינונית, אני אשתפר!), מוזמנת להעביר הלאה למי שצריך 🙂"
DM_2="נפגש כרגיל היום ב17:30, לשיעור לייב עם הקישור הקבוע 
https://us06web.zoom.us/j/3941406339?pwd=cWxpSlYwek9Iem82eGZaM3JhNzFTZz09
DM_3="https://chat.whatsapp.com/EsILfotK2ZM9qwtacbepvi?mode=gi_t
כאן אני שולחת סרטונים מוקלטים חדשים משיעורים כל יום אם את לא מספיקה לעלות בלייב מוזמנת להצטרף☺️"
